django>=3.2,<4.0
django-baton
#Wagtail
wagtail

django-social-share
wagtailgmaps
wagalytics==1.3
requests
#gunicorn
uWSGI
redis
django-dotenv
psycopg2-binary
django-storages

#Django Web App dependencies
django-social-auth
social-auth-app-django
sorl-thumbnail


boto3
#System HOST
PyOpenSSL
python-dotenv
